<footer class="page-footer" id="f">
    <div class="container">
        <div class="row px-md-1">
            <div class="col-sm-1 col-lg-4 py-4">
                <h5>Графік роботи</h5>
                <ul class="footer-menu">
                    <li><a href="#">Понеділок – П'ятниця 9.00 – 18.00</a></li>
                    <li><a href="#">Субота - Неділя	вихідний</a></li>
                    <li><a href="#">Стаціонар	цілодобово</a></li>

                </ul>
            </div>



            <div class="col-sm-1 col-lg-4 py-4">
                <h5>Контактна інформація</h5>
                <p class="footer-link mt-2">58032, м Чернівці, бульвар Героїв Крут,11</p>
                <a href="#" class="footer-link">(037332) 55-83-98, +38(050) 782-39-49</a>
                <a href="#" class="footer-link">help@rehab.cv.ua</a>
            </div>
        </div>
    </div>


</footer>