version: '3.8'
services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=postgres

    ports:
      - '5432:5432'
    volumes: 
      - db-1:/var/lib/postgresql/data
volumes:
  db-1:
    driver: local
