@model RehabCV.DTO.ChildDTO
@{
    ViewData["Title"] = "Змінити дані";
}

@await Html.PartialAsync("_IndexHeader")

<div class="row" style="margin-top: 12%;">
    <div class="col-md-4" style="margin: auto">
        <h2 style="text-align: center">@ViewData["Title"]</h2>
        <form method="post" asp-controller="Child" asp-action="Update" id="child">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstNameOfChild"></label>
                <input asp-for="FirstNameOfChild" class="form-control" />
                <span asp-validation-for="FirstNameOfChild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleNameOfChild"></label>
                <input asp-for="MiddleNameOfChild" class="form-control" />
                <span asp-validation-for="MiddleNameOfChild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNameOfChild"></label>
                <input asp-for="LastNameOfChild" class="form-control" />
                <span asp-validation-for="LastNameOfChild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthdayOfChild"></label>
                <input asp-for="BirthdayOfChild" class="form-control" />
                <span asp-validation-for="BirthdayOfChild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId"></label>
                <select name="GroupId" id="GroupId" form="child" class="custom-select" asp-items="ViewBag.groups">
                </select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" style="width: 100%" />
            </div>
        </form>
        <a asp-action="Index">Назад до списку</a>
    </div>
</div>

@await Html.PartialAsync("_IndexFooter")

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
